/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 5 lug 2022, 00:49:54
    Author     : fabri
*/

#UnDischiEsterniDiv{
     width: 100%;
    height:967px;
    border: 3px solid #979C98;
    margin-top:8px;
    background-color: #ACACBB;
    position: relative;
     overflow-y: auto;
}
.UnDischiEsterniContainer{
    background-color: #DBDBDB;
    width: 90%;
    border-radius: 38px;
    height: 197px;
    margin-top: 2%;
    border: 3px solid #979C98;
    margin-left: 5%;
      display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.UnDischiEsterniImgInfo{
     content: url(../immagini/icons8-modifica-white-24.png);
    height: 32px;
    width: 32px;
}
.UnDischiEsterniImgInfo:hover{
     content: url(../immagini/icons8-modifica-black-24.png);
}