/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 giu 2022, 13:44:06
    Author     : fabri
*/

#cercaIMieiDischiDiv{
    width: 86%;
    height:985px;
    border: 3px solid #979C98;
    margin-top:8px;
    background-color: #ACACBB;
    border-top-left-radius: 38px;
    border-bottom-left-radius:38px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2%;
    position: relative;
    z-index: 0;
}
#cercaIMieiDischiDivDiRicerca{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 8%;
    background-color:#DBDBDB; 
    width: 30%;
    border-radius: 50px;
    margin-top: 50px;
    z-index: 2;
}
.cercaIMieiDischiImg{
    content:url("../immagini/icons8-ricerca-24 (1).png")
}
#cercaIMieiDischiDivDiRicerca:hover #cercaIMieiDischiImg1{
    content:url("../immagini/icons8-ricerca-24.png")
}
#cercaIMieiDischiButton:hover #cercaIMieiDischiImg2{
    content:url("../immagini/icons8-ricerca-24.png")
}

#cercaIMieiDischiInput{ 
    color: #303841;
    background-color:#DBDBDB; 
    padding-left: 6%;
    font-size: 17px;
    border-width: 0px;
    width: 90%;
}
#cercaIMieiDischiDivDiRicerca:hover #cercaIMieiDischiInput{
    color: black;
    background-color:#DBDBDB;
}
#cercaIMieiDischiInput:focus{
    outline:none;
}
#cercaIMieiDischiButton{
    position: absolute;
    top: 5%;
    left: 84%;
    width: 15%;
    height: 90%;
    border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
    visibility: hidden;
    box-sizing: border-box;
    background-color: #DBDBDB;
    border: 3px solid #979C98;  
}
#cercaIMieiDischiDivDiRicerca:hover #cercaIMieiDischiButton{
    visibility: visible;
}
#cercaIMieiDischiButton:hover{
    background-color: #303841;
    border: 0px;
}
#cercaIMieiDischiDiv2{
    width: 90%;
    height: 780px;
    background-color:#DBDBDB;
    overflow:auto;
    border-radius: 38px;
    border: 3px solid #979C98;
    margin-top: 165px;
    
}
.cercaIMieiDischiDivDischi{
    width: 90%;
    height: 100px;
    background-color: #30386C;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 25px;
    align-items: center;
    margin-left: 5%;
    border: 3px solid #979C98;
}
#cercaIMieiDischiCestinoImg{
    content: url("../immagini/icons8-elimina-white-32.png");
}
#cercaIMieiDischiModificaImg{
    content: url("../immagini/icons8-modifica-white-24.png");
    height: 32px;
    width: 32px;
}
.cercaIMieiDischiImmagineDisco{
    height: 75px;
    width: 90px;
    border-radius: 20px;
    margin-left: 30px;
}
#cercaIMieiDischiCestinoImg:hover{
    content: url("../immagini/icons8-elimina-black-32.png")
}
#cercaIMieiDischiModificaImg:hover{
    content: url("../immagini/icons8-modifica-black-24.png")
}
#cercaIMieiDischiSuggerimenti{
    position: absolute;
    height: 245px;
    width: 30%;
    background-color: white;
    top: 86px;
    z-index: 1;
    visibility: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.cercaIMieiDischiDivSuggerimenti{
    height: 50px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 22px;
    border: 2px solid #DBDBDB;
    justify-content: center;
}
.cercaIMieiDischiDivSuggerimenti:hover{
    box-shadow: 2px 2px #303841;
    cursor: pointer;
}
.cercaIMieiDischiSuggerimentiSpan{
    color:#303841;
}
#cercaIMieiDischiSpanNonTrovato{
   position: relative;
    top: 8%;
    color: #303841;
    font-size: 60px;
    display: table;
    margin: 0 auto; 
}
