/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 1 lug 2022, 16:36:06
    Author     : fabri
*/
#modificaDiscoDiv{
    width: 86%;
    height:985px;
    border: 3px solid #979C98;
    margin-top:8px;
    background-color: #ACACBB;
    border-top-left-radius: 38px;
    border-bottom-left-radius:38px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}

#modificaDiscoData::-webkit-outer-spin-button,
#modificaDiscoData::-webkit-inner-spin-button{
    -webkit-appearance: none;
  margin: 0;
}


#modificaDiscoDiv1{
    width: 90%;
    height: 460px;
    margin-top: 20px;
    background-color: #DBDBDB;
    border-radius: 38px;
    border: 3px solid #979C98;
}

#modificaDiscoDiv2{
    width: 90%;
    height: 460px;
    background-color: #DBDBDB;
    overflow: auto;
    margin-top: 20px;
    border-radius: 38px;
    border: 3px solid #979C98;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto; 
}

.modificaDiscoDivTracce{
    width: 90%;
    height: 100px;
    background-color: #30386C;
    margin-top: 15px;
    border-radius: 25px;
    margin-left: 5%;
    border: 3px solid #979C98;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#modificaDiscoAggiungiImg{
    content: url("../immagini/icons8-add-white-24.png");
    height: 50px;
    width: 50px;
    margin-top: 50px;
    margin-left: 48%;
}
#inserisciImmagine{
    margin-top: 15px;
    margin-left: 5px;
}
#modificaDiscoAggiungiImg:hover{
    content: url("../immagini/icons8-add-black-24.png");
}
#modificaDiscoNomeDisco{
    height: 40px;
    font-style: italic;
    font-size: 20px;
    background-color: #ACACBB;
    color: #303841;
    width: 15%;
    border-radius: 18px;
}
#modificaDiscoBarcode{
      height: 40px;
    font-style: italic;
    font-size: 20px;
    background-color: #ACACBB;
    color: #303841;
    width: 15%;
    margin-left: 5%;
    border-radius: 18px;
}
#modificaDiscoData{
      height: 40px;
    font-style: italic;
    font-size: 20px;
    background-color: #ACACBB;
    color: #303841;
    width: 15%;
    margin-left: 5%;
    border-radius: 18px;
}
#modificaDiscoEtichetta{
      height: 40px;
    font-style: italic;
    font-size: 20px;
    background-color: #ACACBB;
    color: #303841;
    width: 15%;
    margin-left: 5%;
    border-radius: 18px;
}
#modificaDiscoSubmit{
    width: 140px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid #303841;
    background-color: white;
    font-weight: bolder;
    color: #303841;
    margin-left: 5%;
}
#modificaDiscoSubmit:hover{
    color:white;
    background-color: #303841;
    border-color: #303841;
}
#modificaDiscoNomeDisco:focus-visible{
    outline: none;
}
#modificaDiscoBarcode:focus-visible{
    outline: none;
}
#modificaDiscoData:focus-visible{
    outline: none;
}
#modificaDiscoEtichetta:focus-visible{
    outline: none;
}
