/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 lug 2022, 18:20:05
    Author     : fabri
*/

#setCondivisioniCollezione{
     width: 86%;
    height:985px;
    border: 3px solid #979C98;
    margin-top:8px;
    background-color: #ACACBB;
    border-top-left-radius: 38px;
    border-bottom-left-radius:38px;
    margin-left: 20px;
}
#setCCDivContainer{
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    position: absolute;
    top: 500px;
    left: 73%;
    border: 3px solid #303841;
    border-radius: 25px;
}
#setCCSubmit{
    text-align: center;
    width: 105px;
    height: 45px;
    border-radius: 20px;
    border: 2px solid #303841;
    background-color: white;
    font-weight: bolder;
    color: #303841;
    position: absolute;
    top: 600px;
    left: 55%;
}
#setCCInput{
    height: 40px;
    font-style: italic;
    font-size: 20px;
    background-color: #ACACBB;
    color: #303841;
    position: absolute;
    left: 34%;
    top: 600px;
    width: 18%;
    border: none;
}
.setCCDivItem{
   width: 80%;
    border-radius: 10px;
    border: 3px solid #303841;
    background-color: white;
    margin-top: 10px;
    height: 6%;
    text-align: center;
    position: relative;
}
.setCCRemoveImg{
     content: url("../immagini/icons8-elimina-black-32.png");
     height: 20px;
     width: 20px;
     position: absolute;
     left: 88%;
}
#setCCLinea{
    height: 1px;
    width: 18%;
    position: absolute;
    background-color: white;
    top: 642px;
    left: 31%;  
}
#setCCSubmit:hover{
    background-color: #303841;
    border-color: #303841;
    color: white;
}
#setCCInput:focus-visible{
    outline: none;
}
