/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 23 mag 2022, 15:48:49
    Author     : fabri
*/
#sideMenuDiv{
    height:1000px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin-top:8px;
    width:13%;
    min-width:200px;
}
#sideMenuDiv1{
    border:3px solid #979C98;
    background-color:#ACACBB;
    width: 100%;
    height: 25%;
    border-bottom-right-radius: 38px;
    border-top-right-radius: 38px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-around;
}

#sideMenuDiv2{
    border:3px solid #979C98;
    background-color:#ACACBB;
    width: 100%;
    height: 72%;
    border-top-right-radius: 38px;
    border-bottom-right-radius: 38px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: flex-start;
    margin-top: 8px;
}
.sideMenuDiv1_1{
    height:20%;
    width: 93%;
    display:flex;
    flex-direction: row;
    align-items: center;
    border-radius: 27px;
    position:relative;
    box-sizing: border-box;
}
.sideMenuImgDischi{
    padding-left: 5%;
    content: url("../immagini/icons8-dischi-white-24.png");
}



.sideMenuImgProfilo{
    content: url("../immagini/icons8-user-white-32.png");
    padding-left: 5%;
    height: 24px;
    width: 24px
}
.sideMenuImgCondivisioni{
    padding-left:5%;
    content: url("../immagini/icons8-share-white-24.png");
}
#sideMenuAggiungiImg{
    content: url("../immagini/icons8-add-white-24.png");
    padding-left:40px;
    height: 30px;
    position: relative;
    bottom: 15px;
}
.sideMenuDiv1_1Ancora{
    color:#303841;
    font-size:25px ;
    padding-left: 5%;
    text-decoration: none;
}

.sideMenuDiv1_1:hover{
    background-color:#DBDBDB;
    border:3px solid #979C98;
}

#sideMenuDivHome:hover .sideMenuImgProfilo{
    content:url("../immagini/icons8-user-black-32.png");
}
#sideMenuDivDischi:hover .sideMenuImgDischi{
    content: url("../immagini/icons8-dischi-black-24.png");
}

#sideMenuDivCondivisioni:hover .sideMenuImgCondivisioni{
    content: url("../immagini/icons8-share-black-24.png");
}
#sideMenuAggiungiImg:hover{
    content: url("../immagini/icons8-add-black-24.png");
}
.sideMenuDiv1_1:hover .sideMenuDiv1_1Ancora{
    color: black;
}
#sideMenuDiv2_1{
    width: 100%;
    height: 85%;
}
.sideMenuAnchorCollezioni:hover{color: black;text-decoration: underline;}

.sideMenuAnchorCollezioni{
    text-decoration: none;font-size: 25px;color:#303841;
}