/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 lug 2022, 00:58:24
    Author     : fabri
*/

#tracceEsterneDiv{
    width: 86%;
    height:985px;
    border: 3px solid #979C98;
    margin-top:8px;
    background-color: #ACACBB;
    border-top-left-radius: 38px;
    border-bottom-left-radius:38px;
    margin-left: 20px;
    overflow-y: auto;
}
.tracceEsterneContainer{
    background-color: #DBDBDB;
    width: 90%;
    border-radius: 38px;
    height: 120px;
    margin-top: 2%;
    border: 3px solid #979C98;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}