<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <!-- aggiungo questo parametro per definire in quale directory salvare le IMMAGINI che vengono UPLOADATE dai COLLEZIONISTI -->
        <param-name>uploads.directory</param-name>
        <param-value>C:\Users\fabri\Desktop\WEB ENG. WORKSPACE\netbeans project\RepositoryFinale\Collector_site\src\main\webapp\immaginiDischi</param-value>
    </context-param>
    <context-param>
        <param-name>pathProgetto</param-name>
        <!-- mettere il path in cui è presente la cartella root del progetto (ovvero la cartella "CollectorSite")
        come valore del tag successivo-->
        <param-value>C:\Users\fabri\Desktop\WEB ENG. WORKSPACE\netbeans project\RepositoryFinale\Collector_site</param-value>
    </context-param>
    <servlet>
        <servlet-name>ServletDiProvaHome</servlet-name>
        <servlet-class>prova.pac.ServletDiProvaHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDiProvaRegistrazione</servlet-name>
        <servlet-class>prova.pac.ServletDiProvaRegistrazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDiProvaLogin</servlet-name>
        <servlet-class>prova.pac.ServletDiProvaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDiProvaCollezioniCondivise</servlet-name>
        <servlet-class>prova.pac.ServletDiProvaCollezioniCondivise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDiProvaVistaCollezione</servlet-name>
        <servlet-class>prova.pac.ServletDiProvaVistaCollezione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDiProvaInserisciDisco</servlet-name>
        <servlet-class>prova.pac.ServletDiProvaInserisciDisco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDiProvaCreaCollezione</servlet-name>
        <servlet-class>prova.pac.ServletDiProvaCreaCollezione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDiProvaCercaIMieiDischi</servlet-name>
        <servlet-class>prova.pac.ServletDiProvaCercaIMieiDischi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDiProvaProfilo</servlet-name>
        <servlet-class>prova.pac.ServletDiProvaProfilo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDiProvaLogout</servlet-name>
        <servlet-class>prova.pac.ServletDiProvaLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDiProvaCollector_siteBaseController</servlet-name>
        <servlet-class>prova.pac.ServletDiProvaCollector_siteBaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelezionaImmaginiDisco</servlet-name>
        <servlet-class>prova.pac.SelezionaImmaginiDisco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>prova.pac.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDiProvaInserisciImmagine</servlet-name>
        <servlet-class>prova.pac.ServletDiProvaInserisciImmagine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBotEmailDiProva</servlet-name>
        <servlet-class>prova.pac.ServletBotEmailDiProva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDiProvaModificaDisco</servlet-name>
        <servlet-class>prova.pac.ServletDiProvaModificaDisco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDiProvaLoggedRicercaGlobale</servlet-name>
        <servlet-class>prova.pac.ServletDiProvaLoggedRicercaGlobale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDiProvaRicercaGlobale</servlet-name>
        <servlet-class>prova.pac.ServletDiProvaRicercaGlobale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDiProvaSettingCopieStato</servlet-name>
        <servlet-class>prova.pac.ServletDiProvaSettingCopieStato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDiProvaDelete</servlet-name>
        <servlet-class>prova.pac.ServletDiProvaDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonServlet</servlet-name>
        <servlet-class>prova.pac.JsonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDiProvaSetCopie</servlet-name>
        <servlet-class>prova.pac.ServletDiProvaSetCopie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDiProvaInserisciImmagine</servlet-name>
        <url-pattern>/servletDiProvaInserisciImmagine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDiProvaHome</servlet-name>
        <url-pattern>/servletDiProvaHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDiProvaRegistrazione</servlet-name>
        <url-pattern>/servletDiProvaRegistrazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDiProvaLogin</servlet-name>
        <url-pattern>/servletDiProvaLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDiProvaCollezioniCondivise</servlet-name>
        <url-pattern>/servletDiProvaCollezioniCondivise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDiProvaVistaCollezione</servlet-name>
        <url-pattern>/servletDiProvaVistaCollezione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDiProvaInserisciDisco</servlet-name>
        <url-pattern>/servletDiProvaInserisciDisco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDiProvaCreaCollezione</servlet-name>
        <url-pattern>/servletDiProvaCreaCollezione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDiProvaCercaIMieiDischi</servlet-name>
        <url-pattern>/servletDiProvaCercaIMieiDischi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDiProvaProfilo</servlet-name>
        <url-pattern>/servletDiProvaProfilo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDiProvaLogout</servlet-name>
        <url-pattern>/servletDiProvaLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDiProvaCollector_siteBaseController</servlet-name>
        <url-pattern>/servletDiProvaCollector_siteBaseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelezionaImmaginiDisco</servlet-name>
        <url-pattern>/selezionaImmaginiDisco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBotEmailDiProva</servlet-name>
        <url-pattern>/servletBotEmailDiProva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDiProvaModificaDisco</servlet-name>
        <url-pattern>/servletDiProvaModificaDisco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDiProvaLoggedRicercaGlobale</servlet-name>
        <url-pattern>/servletDiProvaLoggedRicercaGlobale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDiProvaRicercaGlobale</servlet-name>
        <url-pattern>/servletDiProvaRicercaGlobale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDiProvaSettingCopieStato</servlet-name>
        <url-pattern>/servletDiProvaSettingCopieStato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDiProvaDelete</servlet-name>
        <url-pattern>/servletDiProvaDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonServlet</servlet-name>
        <url-pattern>/jsonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDiProvaSetCopie</servlet-name>
        <url-pattern>/servletDiProvaSetCopie</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>servletDiProvaHome</welcome-file>
    </welcome-file-list>
</web-app>
