<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
<!DOCTYPE html>
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html lang="it">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stili/homeUnlogged.css" type="text/css"/>
        <link rel="stylesheet" href="stili/headBar.css" type="text/css"/>
    </head>
        <body style="display: flex;flex-direction: column;align-items: flex-start;background-color:#303841;">
            <#include "headBar.ftl.html">
            <#include "homeUnlogged.ftl.html">
        </body>
</html>
