<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<div id="dischiEsterniDiv">
    <div>
        <#if dischiList?size != 0>
            <#list dischiList as d>
                <div class="dischiEsterniContainer" style="position:relative">
                    <h1 style="color: #303841"> ${d.tipo.toString()}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${artistiList[d?index].nomeDarte}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${d.nomeDisco} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${d.anno}</h1>
                    <div style="display: flex;flex-direction: row">
                        <#list csList[d?index] as cs>
                            <h2 style="color:#303841 ">stato:${cs.stato.toString()?lower_case}&nbsp;&nbsp;copie:${cs.numCopieDisco}&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                        </#list>
                    </div>
                    <div>
                        <a href="servletDiProvaRicercaGlobale?discoK=${d.key}"><img class="dischiEsterniImgInfo" ></a>
                    </div>
                    <#if ownersList??>
                        <h1 style="position: absolute;top: -11px;left: 43%;color: #303841;">Proprietario:${ownersList[d?index].nickname}</h1>
                    </#if>
                </div> 
            </#list>
        <#else>
            <#if errorA??>
                <h1 style="margin-left: 38%;color: #303841">
                Non esistono dischi incisi da questo artista
                </h1>
            <#else>
                <h1 style="margin-left: 38%;color: #303841">
                 Collezione priva di dischi
                </h1>
            </#if>
        </#if>
    </div>
</div>
