<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<div id="homeLoggedDiv">
    <h1 id="homeLoggedH1">Benvenuto in Collector Site</h1>
    <p id="homeLoggedP1">Questo sito &#232; stato creato per mettere in contatto
        collezionisti di dischi, permettendo loro di caricare e condividere
        con i propri amici, dischi e collezioni di dischi</p>
    <p id="homeLoggedP2">
        Registrati al sito ed usegui il login per accedere a tutte le sue funzionalit&#224;!
    </p>
    <p id="homeLoggedP3">
        Per eventuali problemi contatta gli amministratori:
        Fabrizio.Paglia@student.univaq.it
        Maurizio.DiCarlo@student.univaq.it
        Stefano.Pisciella@student.univaq.it
    </p>
    <img id="homeLoggedImg" alt="logo">
</div>
