<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<div id="inserisciDiscoImmagineDiv">
    <div id="inserisciDiscoImmagineDivImgContainer">
        <div id="inserisciDiscoImmagineNuovaImg">
            <form method='post' action='servletDiProvaInserisciImmagine' enctype='multipart/form-data'>
                <input type='file' name='filetoupload' accept="image/*"/>
                <input type='submit' name='submit' value='upload'/>
            </form>
        </div>
        <#if immagini??>
            <#list immagini as i>
            <div id="provaListaImmagini">
                <!<!--lo style dell'immagine è fissato qui e non nelle classi css perchè altrimenti entra in conflitto con quello del bordo -->
                <img class="inserisciDiscoImmagineNuovaImg" src="immaginiDischi/${i.filename}" alt="immaginiDischi/${i.filename}" style="height: 170px;width: 300px;border-radius: 37px;">
            </div>
            </#list>
            <#else>
            <div class="inserisciDiscoImmagineNuovaImg">
                <img src="immaginiDischi/defaultIMG.png" id="provaimmagine" height="170" width="300" >
            </div>
                    </#if> 
    </div>
</div>