<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<div id="UnCollezionistiEsterniDiv">
    <#if cPar??>
        <div id="UnCollezionistiEsterniDivContainer">
            <h3 style="color: #303841;font-size: 30px;">${cPar.nickname} </h3>
             <a id="UnCollezionistiEsterniA" href="servletDiProvaRicercaGlobale?cPar=${cPar.key}"><img id="UnCollezionistiEsterniImgInfo" ></a>
        </div>
    <#else>
        <h1 style="margin-left: 38%;color: #303841">
            Nessun utente ha questo nickname
        </h1>
    </#if>
</div>